<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="EZERagent (EZERagent Terminal)" Language="1033" Version="0.13.9"
           Manufacturer="EZERAGENT" UpgradeCode="6A40F007-8276-4DFD-88A6-E91E42016669">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
    <Media Id="1" Cabinet="aiterm.cab" EmbedCab="yes"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="EZERagent (EZERagent Terminal)">
          <Component Id="MainExecutable" Guid="715BD503-837F-4062-B4B3-086A5AE77148">
            <File Id="EZERagentd.exe" Name="EZERagentd.exe" Source="../target/x86_64-pc-windows-gnu/release/EZERagentd.exe"/>
            <File Id="EZERagent.exe" Name="EZERagent.exe" Source="../target/x86_64-pc-windows-gnu/release/EZERagent.exe"/>
            <Environment Id="UpdatePath" Name="PATH" Value="[INSTALLDIR]" Permanent="no" Part="last" Action="set" System="yes"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="MainExecutable"/>
    </Feature>
  </Product>
</Wix>
